.fs-7 {
    font-size: 0.75rem;
}

.fs-z-1 {
    font-size: 1rem;
}

.fs-z-2 {
    font-size: 0.9rem;
}

.fs-z-3 {
    font-size: 0.8rem;
}

.fs-z-4 {
    font-size: 0.7rem;
}

.fs-z-5 {
    font-size: 0.6rem;
}

.fs-z-6 {
    font-size: 0.5rem;
}